[2015-09-13 09:13] MGaetan89 opened #2 "Filter shows"
Add a new menu option to be able to filter the list of shows.
- [x] Show status (Continuing/Ended/Unknown/All)
- [x] Pause/Active/All shows

[2015-09-13 09:16] MGaetan89 opened #3 "Group shows/animes"
Add a new settings to be able to group the shows together and the anime together.

[2015-09-13 09:19] MGaetan89 opened #4 "Use data binding in the adapters"
Update the adapters to use the [data binding library](http://developer.android.com/tools/data-binding/guide.html).
- [x] EpisodesAdapter
- [x] HistoriesAdapter
- [x] LogsAdapter
- [x] ScheduleAdapter
- [x] SearchResultsAdapter
- [x] ShowsAdapter

[2015-09-14 20:01] MGaetan89 opened #5 "Revert the sort order of episodes/seasons"
Add options to be able to revert the default sorting strategy (latest first) of the episodes and seasons list (oldest first).

[2015-09-20 10:15] MGaetan89 opened #6 "Fix API path generation"
- [x] The path to the API is not taken into account when retrieving the API key
- [x] Slashes in the API path are converted in `%2F`

[2015-09-21 06:37] nesalkiN opened #7 "Using self signed ssl certificate does not work"
SickBeard throws this in the log when trying to connect using ssl:

2015-09-21 00:49:25 WARNING  SSL Error on 12 ('192.168.1.1', 56762): [Errno 1] _ssl.c:510: error:14094416:SSL routines:SSL3_READ_BYTES:sslv3 alert certificate unknown
2015-09-21 00:49:25 ERROR    Uncaught exception
Traceback (most recent call last):
  File "/home/bork/SickRage/tornado/http1connection.py", line 691, in _server_requ

[2015-09-21 09:21] MGaetan89 commented on #7
I will look into this to fix it in the next version.
Thank you for reporting it.

[2015-09-21 10:50] #6 closed, assigned to MGaetan89

[2015-09-21 18:56] ghost opened #8 "Setup"
Hi,

It keeps on telling me cannot get API even though i have the IP, Port and username and password correct?

Is this only for external or Internal as well ?

Thanks

[2015-09-21 19:06] MGaetan89 commented on #8
What did you set for the path?  Just `api` or do you have subfolders?
ShowsRage should work for internal and external network, as long as you have access to it.

[2015-09-21 21:32] ghost commented on #8
I have it installed on my Synology NAS and i access it via HTTPS://IP:PORT am i being dumb here or is there something else i need to know.

[2015-09-22 04:11] MGaetan89 commented on #8
There is an issue preventing the app from working when using HTTPS (see #7).
I will fix it and release a new version soon.

[2015-09-22 07:54] #8 closed, assigned to MGaetan89

[2015-09-22 21:39] #7 closed, assigned to MGaetan89

[2015-09-22 21:42] MGaetan89 commented on #7
This has been fixed an will be available on the Play Store in a few hours.
Let me know if you still have some issues to configure or use ShowsRage.

[2015-09-22 21:43] MGaetan89 commented on #8
I just fixed the issue. It will be available in the next version (1.0.1) in a few hours.
Let me know if it is working properly for you know.

[2015-09-23 01:46] viperidae opened #9 "Connection fails with basic auth and https"
I have SickRage set up behind a reverse proxy that does the HTTPS and basic auth.

No matter what I try, I always get a "Connection to .... failed" message when testing the connection. I have HTTPS option tick, as well as Self Signed Certificate.

I have assumed the username and password under the Api Key setting are for basic auth.

A little more information on the error message would be helping

[2015-09-23 05:48] MGaetan89 commented on #9
The username/password section is only used to get the API key.
I didn't know (or think) that some SickRage configuration requires a Basic Auth to access the API. I will check that and include it in a future release.

[2015-09-24 02:19] fernandog opened #10 "Suggestion: show full poster. Not "circles""
Great job with the app!

[2015-09-24 06:16] MGaetan89 commented on #10
Thanks!
For the circled poster, I copied what Google does in his applications (look at GMail and Contacts for example). I tried rectangle poster, and I'm not really fan of the result.
I may however add alternative layouts in future versions,

[2015-09-24 06:16] #10 closed, assigned to nobody

[2015-09-24 10:43] Noktam opened #11 "My sickrage freeze when i use the app"
Every time i use the app, nothing show up, but my sickrage freeze and needs to be restarted.
Sometime, after a while, i get the episode in the coming episode section, but that's it.
It's like it take few minutes to complete a request and that freeze the whole sickrage until it complete.

[2015-09-24 13:54] MGaetan89 commented on #11
Do you have this problem everywhere or only in some part? Any information can help me do figure out the issue.

[2015-09-25 03:35] Quiksmage opened #12 "Add profiles"
I have 3 separate sickrage installations and would really like the ability to switch between them freely and quickly via a toggle in the sidebar. Thanks for the application!

[2015-09-25 03:38] Quiksmage opened #13 "Playing video files"
Although I probably won't use the feature too often. Is this implemented yet? I can't find any option to play videos from inside shows seasons or episodes.

[2015-09-25 04:42] MGaetan89 commented on #13
Yes, it is implemented. But it may not work in every configuration.
You first need to activate the corresponding settings (one for Chromecast, one for streaming on your device). Then a Chromecast/play icon will be visible on the episode detail, if it was downloaded.

[2015-09-25 04:44] MGaetan89 commented on #12
This is not a top priority for the moment, but it is planned.

[2015-09-25 05:32] Quiksmage commented on #13
Ah, I see. After enabling the settings I options to play it. I had thought experimental was similar to how plex has an experimental player apart from its normal player. Thanks for three quick response. I love the responsiveness of this app :)

[2015-09-25 05:34] #13 closed, assigned to nobody

[2015-09-25 13:19] 03397 opened #14 "API Error Message 18"
Every time I use showsrage to connect to Sickrage I am getting an error message in Sickrage logs saying

2015-09-25 16:11:30 TORNADO :: API :: error 18
2015-09-25 16:11:06 TORNADO :: API :: error 18
2015-09-25 16:10:54 TORNADO :: API :: error 18

I do not have any actual problem in connecting it is just that error message.

[2015-09-25 16:55] MGaetan89 commented on #14
I am not able to reproduce this.
Did you notice that this error happens only when you are in a specific part of the application?
Are you using https (and maybe self-signed certificate)?

[2015-09-25 17:04] MGaetan89 commented on #14
I found the place where SickRage logs these errors, but it is not really helpful.
Can you enable debug in SickRage (in _Config_ > _General_ > _Advanced Settings_ > _Enable debug_) and tell me if you have more information in the logs?

[2015-09-25 17:18] MGaetan89 commented on #9
I am working on this feature for the next release. However, I have nothing set up to test this.
When it's ready, I will upload it as a beta version on the Play Store. Would you then to test it and tell me if it works?

[2015-09-25 17:43] 03397 commented on #14
I have make a debug  since the start of using ShowsRage and browsing into some tv shows

2015-09-25 20:40:21 DEBUG    TORNADO :: API :: show.seasons: curKwargs {'season': '4', 'indexerid': '81189'}

2015-09-25 20:40:21 DEBUG    TORNADO :: API :: all kwargs: '{'indexerid': '81189', 'season': '4', 'cmd': 'show.seasons'}'

2015-09-25 20:40:21 DEBUG    TORNADO :: API :: all args: '()'

2015-09-25 20:4

[2015-09-25 17:57] MGaetan89 commented on #14
Thank you. That last log contains more helpful information.
From what I can tell, the error is in SickRage, not in ShowsRage.
I will investigate more and fix the issue.

[2015-09-25 18:10] MGaetan89 commented on #14
I opened an issue on SickRage project. I will keep you inform once it's fixed.

[2015-09-25 18:15] 03397 commented on #14
Thanks…

From: Gaëtan Muller [mailto:notifications@github.com]
Sent: Friday, September 25, 2015 9:10 PM
To: MGaetan89/ShowsRage
Cc: 03397
Subject: Re: [ShowsRage] API Error Message 18 (#14)

I open an issue on SickRage project. I will keep you inform once it's fixed.

—
Reply to this email directly or view it on GitHub https://github.com/MGaetan89/ShowsRage/issues/14#issuecomment-143311244 .  http

[2015-09-25 18:16] MGaetan89 opened #15 "Improve "Coming Episodes" layout"
- [x] Display the name of the show
- [x] Display episode plot on click

[2015-09-25 18:16] MGaetan89 opened #16 "Disable new version check"

[2015-09-25 19:37] viperidae commented on #9
Is be happy to test it, just let me know when it's available

[2015-09-25 19:46] MGaetan89 commented on #9
Thanks.  I will give you news soon about this.

[2015-09-26 21:09] ghost commented on #8
It is working thanks alot :)

[2015-09-27 16:04] benwut opened #17 "Cannot connect to SickRage"
Got the message "Connection to http://192.168.1.100:8081/ failed". If I check the logs on SickRage I got a message:

2015-09-27 18:02:25 Thread-54 :: Failed doing webui callback: Traceback (most recent call last):
  File "/opt/sickbeard/sickbeard/webserve.py", line 274, in async_call
    result = function(**kwargs)
TypeError: index() got an unexpected keyword argument 'cmd'

If I leave the setting

[2015-09-27 21:13] MGaetan89 commented on #17
I should make the error message more explicit, because it is not really helpful for the moment.
Can you tell me which version of ShowsRage you are using? You can find this info in Settings > ShowsRage.
Are you using HTTPS? Self-signed certificate? Basic authentication?

The second stacktrace is related to SickRage. They have an issue open for that: https://github.com/SiCKRAGETV/sickrage-issues/iss

[2015-09-27 21:18] benwut commented on #17
ShowsRage version 1.0.1
No, I am not using HTTPS neither Self-signed certificate or user/password authentication.

I've tried to put a user/password authentication but the problem is still.

edit: after reading to open ticket on SiCKRAGETV: I am using SickRage on openmediavault. They are speaking that this very problem apprears because of the path of the cache. And I am using it on my openmediavau

[2015-09-27 21:37] MGaetan89 commented on #17
It looks like you didn't set the path or API key. Is that correct or did you just remove them from the issue?

The second part is related to the cache folder problem, yes. But I don't think that it affects access to SickRage.

[2015-09-27 21:42] benwut commented on #17
So yes there is something I don't really get abouth the API thing. First I've tried to connect fulfilling only "Address" and "port number" which are correct (I let the "API" in the path field). Did not work.
Then I've tried to generate an API Key on the SickRage web interface and past it in the App but it didn't work neither.

Am I doing something wrong? I am not sure about what I need to do with

[2015-09-27 21:47] benwut commented on #17
Hoooooooolly shit you can close the ticket.
It's OK I made mistake copy/pasting the API Key ... I feel so ashamed damn it! Sorry again!

[2015-09-27 21:48] MGaetan89 commented on #17
The API key is used to allow third party application to access your SickRage installation.
If you managed to generate it in SickRage, that's a good start.

This is how I configured ShowsRage on my phone:
- I set "Address"
- I set "Port number"
- I leave "Path" to "api"
- In "API Key" > "Get API Key":
  - I set the username
  - I set the password
  - I click "Get API Key"

The "username" and "passw

[2015-09-27 21:48] #17 closed, assigned to nobody

[2015-09-29 03:59] didyouexpectthat opened #18 "Cache network response"
It takes over a minute to load my "Shows" page - normally my screen timeout is 15 seconds. As such, I have to continuously keep my screen open and active to ensure that the shows'll load eventually. If we could set a cache on the data that gets pulled, and then update asynchronously, I believe it would help load times for large libraries.

![2015-09-29 03 58 28](https://cloud.githubusercontent.com

[2015-09-29 12:35] Pikoulol opened #19 "Episode information does not update"
Steps to reproduce :
- Select a show in "Shows" menu
- Select "Season 1"
- Select one episode in the list
- Swipe between episode : No information update :(

Android 5.1.1
ShowsRage 1.0.1

[2015-09-29 17:27] MGaetan89 commented on #19
Thanks for reporting this. I will fix it in the next version.
In the meantime, going back and selecting the desired episode works.

[2015-09-29 17:28] MGaetan89 commented on #14
A new version of SickRage was released yesterday. Can you update and let me know if you still have this error?

[2015-09-29 17:44] #19 closed, assigned to MGaetan89

[2015-09-29 17:47] 03397 commented on #14
Yes I have the same error.
On Sep 29, 2015 20:28, Gaëtan Muller notifications@github.com wrote:A new version of SickRage was released yesterday. Can you update and let me know if you still have this error?

—Reply to this email directly or view it on GitHub.

[2015-09-29 20:56] #15 closed, assigned to MGaetan89

[2015-09-29 21:19] MGaetan89 commented on #9
I just uploaded the next version to the beta channel on the Play Store. You can access this release after you subscribed to the beta program from the following link: https://play.google.com/apps/testing/com.mgaetan89.showsrage
After that, you will receive the new update as any other application update. Let me know if the Basic Authentication feature (or anything else) works as expected for you.
If

[2015-09-29 23:08] viperidae commented on #9
Basic auth works fine

Although not a problem for me, the username/password for basic auth needs to be the same as the sickrage username/password to get the API key. Perhaps add new fields for the different credentials

Another feature suggestion would be to provide some kind of feedback to the user when data is being loaded.

[2015-09-30 05:05] MGaetan89 commented on #9
Thanks for the feedback.
SickRage's username and password are only use to get the API get, and nothing else. The goal of the API key is to prevent sending the username and password with each request. So once the API key is configured, those credentials are no longer used and can safely be used for Basic Authentication, if enabled. I will add an help message to explain this in the application.

I w

[2015-09-30 05:05] #9 closed, assigned to MGaetan89

[2015-09-30 22:49] MGaetan89 opened #20 "Refactor *Settings*"
- [x] Properly split settings in various categories
- [x] Display the `Toolbar` on every screens

[2015-10-01 09:33] b2001l opened #21 "Search Option for filtering previously added shows"
It would be nice to have a search option on the Home screen to filter shows.
For example, currently in the show list. To find a show you must scroll through the list until you get to the show you are looking for.

If there was an easily accessible search box, located at the top of the screen always, or in the menu to the side, it would increase the user ability to find a show they have already add

[2015-10-01 09:40] MGaetan89 commented on #21
I am already planning to add the following two features in the next version:
- #2: Filter shows
- #3: Group shows/animes

Would those help you or is a search bar necessary?

[2015-10-01 09:58] b2001l commented on #21
How will the "Filter Shows" option be implemented ?

If the filter shows includes an option to filter based on a text input this would be great.

Also, it is a very amazing application. Appreciate the work involved in it. Thank you

[2015-10-01 12:21] MGaetan89 commented on #21
Thanks, I try to do my best to make it feature complete and easy to use :)

I didn't plan to include that yet. I don't know if it will make it in the next version, but I will include it.

[2015-10-01 18:37] MGaetan89 commented on #5
When episodes are displayed in descending order, the list is scrolled to the bottom. It should always be displayed from the top.

[2015-10-01 18:38] #5 closed, assigned to MGaetan89

[2015-10-01 18:38] MGaetan89 opened #22 "Fix episodes sorting"
When episodes are displayed in descending order, the list is scrolled to the bottom. It should always be displayed from the top.

This was introduced in #5 (version 1.1).

[2015-10-02 06:26] MGaetan89 commented on #19
I just released version 1.1, which fix this issue.

[2015-10-02 14:34] MGaetan89 commented on #9
It seems that images (show banner/poster/fan art) do not load when using Basic Authentication. Do you have this issue too?

[2015-10-02 19:31] viperidae commented on #9
Yea I do. I haven't seen it with banner images so I didn't notice they were missing

[2015-10-03 21:59] OIK2 opened #23 "Larger target area for episode menus on Coming Episodes"
It can be difficult to precisely hit the  "...", and it has reserved space to both the left and right sides  that currently link to the episode. That space would be better to link to the menu, making it easier to access.

[2015-10-05 07:23] 03397 commented on #14
It seems that this problem is solved after the upgrade of Sickrage.

[2015-10-05 16:48] Coelen opened #24 "Shows list empty"
I've updated to the last version of both SickRage and ShowsRage I'm connected succesfully and the coming episodes list works as well. However, the shows screen is empty, not sure what might be the cause of it?

Showsrage V1.1
Sickrage version: BRANCH: (master) / COMMIT: (555ca46fa798c76d608827815816761116e19f02) running on my Synology DS213j.

[2015-10-05 19:08] MGaetan89 commented on #14
Thanks for the feedback. I'll forward the information to SickRage developers.

[2015-10-05 19:08] #14 closed, assigned to nobody

[2015-10-05 19:27] MGaetan89 commented on #24
Do you have something in your logs that might help find the cause of this issue?
Or is it possible that the list is just taking some time to load?
I just updated my SickRage to the latest version and I don't have any issue to display the list of shows.

[2015-10-05 21:08] MGaetan89 opened #25 "Fix images loading when using Basic Auth"

[2015-10-07 19:57] MGaetan89 commented on #3
TODO: split "Shows" and "Animes" in two tabs when enabled.

[2015-10-08 06:23] MGaetan89 commented on #24
I also have this issue and I think I know why it is happening.
However, it requires changes in SickRage to be fixed properly.
I will report the issue on there issue tracker so they are aware of the issue.

For me, it happened because I paused/unpaused a show from the application and now the API returns a different data.

[2015-10-08 19:38] benyjr commented on #24
I found that this issue happens for me when I add a show through ShowsRage.

[2015-10-08 19:44] MGaetan89 commented on #24
Thanks for the info. When adding the show, did you enable the "anime" and/or the "subtitle" option?

[2015-10-08 19:45] benyjr commented on #24
No, I didn't.

[2015-10-08 19:51] MGaetan89 commented on #24
Can you access SickRage's API builder (by replacing `/home` with `/apibuilder` in your SickRage URL), run the `shows` command (near the bottom of the page) and send me the part about the show that might be causing the issue?
It should look something like this:

[code]

[2015-10-08 19:53] benyjr commented on #24
Right now, I can't because I'm at work. I will try later tonight.

[2015-10-08 20:03] benyjr commented on #24
Here you go:

"75760": {
            "air_by_date": 0,
            "anime": 0,
            "cache": {
                "banner": 1,
                "poster": 1
            },
            "indexerid": 75760,
            "language": "en",
            "network": "CBS",
            "next_ep_airdate": "",
            "paused": 0,
            "quality": "SD",
            "show_name": "How I Met Your Moth

[2015-10-08 20:06] MGaetan89 commented on #24
Didn't have to wait too long :P

This confirm what I thought. For some reason, boolean values are returned in the wrong format.
If I have time, I will fix it next week.
Thanks for your help.

[2015-10-08 20:07] benyjr commented on #24
You are welcome.

Turns out the guest wifi at work doesn't block my SickRage ports. :-D

[2015-10-09 19:42] MGaetan89 commented on #24
This is now fixed in the `develop` branch of SickRage.
It will be available in the next release of SickRage.

[2015-10-09 19:44] benyjr commented on #16
I vote for this.  I already have SickRage set to autoupdate.

I don't want to see an update notification everytime I open ShowsRage.

[2015-10-09 22:43] MGaetan89 commented on #16
Yes, I understand the need for this feature.
I don't know if I'll manage to include it the next version, but it will definitely make it in the following one in the worst case.

[2015-10-10 06:45] MGaetan89 commented on #24
The fix is in the latest release and it's working for me.
Can you confirm that it's working for you too?

[2015-10-10 21:39] benyjr commented on #24
Seems to work when I am on my own network. I will test it again when I am on a remote network.

[2015-10-10 21:46] benyjr opened #26 "Error When Adding a Show and Specifying quality"
I was adding a show and discovered that if I special quality I get an error message as shown in the attached screen shot.

Also when adding a new show, the default options saved in SickRage should be prepopulated.

![screenshot_2015-10-10-17-35-52](https://cloud.githubusercontent.com/assets/14084052/10413428/245b8cea-6f76-11e5-8be1-a2b55586968a.png)
![screenshot_2015-10-10-17-35-42](https://cloud.

[2015-10-11 15:38] MGaetan89 commented on #26
I will have a look at the error. Should be easy to fix, so it will work in the next version.
For the default values, they are already used if you don't set them. But it is a good idea to display them in the form when adding a show.

[2015-10-11 18:14] benyjr commented on #16
Cool. As long as it's in the pipeline.

I can be patient.

[2015-10-11 18:46] MGaetan89 opened #27 "Manual post-processing"

[2015-10-12 14:32] ghost opened #28 "Add Locations For Adding Shows"
Hi,

Could we add a location selector so people can pick what drive they want to save the new show to.

Thanks

[2015-10-12 17:16] #25 closed, assigned to MGaetan89

[2015-10-12 17:17] MGaetan89 commented on #28
I don't know if it is possible to select a specific folder, but I can add an option to select a specific root dir. Would that be enough?

[2015-10-12 17:20] MGaetan89 commented on #24
Did you manage to test from a remote network yet?

[2015-10-12 17:27] #23 closed, assigned to MGaetan89

[2015-10-12 17:28] benyjr commented on #24
Thanks for the reminder.

I just tested it and it seems to be working.

[2015-10-12 17:28] MGaetan89 commented on #23
I fix this. It will be available in the next version of ShowsRage.

[2015-10-12 17:30] MGaetan89 commented on #24
Thanks. Glad it's working again :)

[2015-10-12 17:30] #24 closed, assigned to nobody

[2015-10-12 18:56] MGaetan89 commented on #11
Closing as I don't have enough information to debug/fix this.

[2015-10-12 18:56] #11 closed, assigned to nobody

[2015-10-13 00:33] ghost commented on #28
Sure so if you can Select the Root Drive:

IE:\ Volume1\FOLDERNAME\NEW FOLDER ? or C:\FOLDERNAME\NEW FOLDER?

Something like this or see what you can do, Thanks

[2015-10-13 13:31] MGaetan89 commented on #28
The values I can show are the one you defined in SickRage > Config > General > Misc > Show root directories.

[2015-10-14 06:21] marco219 opened #29 "Show's banner in the tvshows list"
In the tvshows list would it be possible to change the round icon with a full banner. The banner you print on the show presentation page.

[2015-10-14 06:23] marco219 opened #30 "Add diffusion time"
Would it be possible to add the diffusion time in next episode page near the diffusion date of each episodes

[2015-10-14 07:08] MGaetan89 commented on #29
Yes, this is planned for a future version.

[2015-10-15 13:30] marco219 opened #31 "Bug on statistics"
Total number of episodes is always 1 episodes smaller than the website. For instance i have 252 episodes and the app shows that i have only 251 episodes

[2015-10-15 13:50] MGaetan89 commented on #31
Those are data returned by SickRage.
I'll have to check there how to fix this.

[2015-10-15 20:52] MGaetan89 commented on #31
I am working on fixing this in SickRage. I'll let you know when it's done and released.

[2015-10-16 22:33] marco219 commented on #31
I think there is another problem that could be related to this one. The app statistics shows that I have one wanted episode, then when I check the episodes status management page on sickrage, I see no episodes checked as wanted. Hope this can help you

[2015-10-18 10:04] #4 closed, assigned to MGaetan89

[2015-10-18 10:38] MGaetan89 commented on #26
I fix the error. It will be available in the next version of ShowsRage.
The second point will have to wait until the next release.

[2015-10-18 10:38] MGaetan89 opened #32 "Pre-fill options with SickRage defaults in "Add show""
As explained in #26

[2015-10-18 10:39] MGaetan89 commented on #26
I created an other ticket for the second point: #32.
So I close this one as it is now fixed.

[2015-10-18 10:39] #26 closed, assigned to MGaetan89

[2015-10-18 18:40] MGaetan89 commented on #31
The fix was merged in SickRage. It will be available in the next version.

[2015-10-19 09:32] Concept211 opened #33 "New Icon/Logo?"
Love the app and have been using it more frequently than the actual SickRage web UI. Thanks for the great work!

I wanted to offer if you wanted to use one of the logos I designed for SickRage. I can provide you with the hi-res PNG files with transparencies for you to use. Just let me know if you're interested.

Here's a link to my post on the SR forums w/ the previews:
https://sickrage.tv/forums/

[2015-10-19 16:44] MGaetan89 commented on #33
Hi @Concept211

Design is really not my strong suit, so any help on that level is always more than welcome. Even I don't like the current ShowsRage logos...

Both of your logos look great, with maybe a preference for the second one. The best for me is to have them in SVG format to include it in the application. Or I can give you a list of sizes the images should be in. Whichever is best for you.

[2015-10-19 16:53] MGaetan89 commented on #31
The fix was released today. Let me know if it works for you or if you still have some differences between the web part and the mobile part.

[2015-10-19 17:00] Concept211 commented on #33
Awesome...not a problem. I'll get you the SVG hopefully today if I get a moment. I'll give you both versions so that you can try them and see which looks best.

Btw...I LOVE how you grab a dominant color sample from the show image/graphic and use it for that show's interface color scheme. Brilliant!

[2015-10-19 19:26] marco219 commented on #31
This is perfect ! Really good work you do

[2015-10-19 19:38] MGaetan89 commented on #31
Thanks for the feedback.
Glad you like it.

[2015-10-19 19:38] #31 closed, assigned to nobody

[2015-10-19 20:15] Concept211 commented on #33
Ok, here you go. I uploaded both SVG and hi-res PNG formats for both versions of the logo:
http://jmp.sh/ES7hrfQ

Let me know if they work out for you.

Thanks!

[2015-10-20 17:06] MGaetan89 commented on #33
Awesome, thanks!
I will try to integrate them this evening if I have time to show you what it looks like. Otherwise next week or in two weeks.

The dynamic design color is an idea taken from Material Design (the new Android design). I wouldn't have thought of that on my own :P

[2015-10-20 17:41] Concept211 commented on #33
Awesome...I can't wait to see it! I've been checking for updates within the app last night hoping it was updated but no such luck ;)

I've only seen the UI change colors like that within Google's Messenger app but those colors are completely random. I've never seen any app take a color sample from an image like that. Whoever's idea it is, it's slick!

[2015-10-20 19:00] MGaetan89 commented on #33
Here are previews of both logos in the application drawer of Android, compared to the current one:
![New logo 1](https://cloud.githubusercontent.com/assets/1009664/10617816/b8b6f264-776c-11e5-9392-cbbfd4daef4a.png)
![New logo 2](https://cloud.githubusercontent.com/assets/1009664/10617817/b8b93baa-776c-11e5-902d-9c443aef1573.png)

Now I see that the current logo is really blurry :o
The sharked-TV i

[2015-10-20 19:26] Concept211 commented on #33
Yeah, I think we can go with the shark/tv version. But the white line inside ended up coming out way too thin. I'll go ahead and revise it as well as give you the white version for the notification drawer. I'll have it to you shortly.

thanks!

[2015-10-20 19:49] Concept211 commented on #33
Here you go: http://jmp.sh/XgQ0wt3

I think it would look good if the default color scheme of the UI matched the colors of the new logo. I also included a banner image if you want to use it for the Google Play store page. Let me know if you need different sizes or whatever (I forget what the requirements are).

[2015-10-20 20:28] MGaetan89 commented on #33
That was a fast work ! Here are updated previews with the new logos.
It looks really cool. Great job :)

![screenshot_20151020-220824](https://cloud.githubusercontent.com/assets/1009664/10619846/2173d41a-7778-11e5-8e42-1b1c0da083c2.png)
![screenshot_20151020-220830](https://cloud.githubusercontent.com/assets/1009664/10619847/218d9cb0-7778-11e5-98f4-9e72a9616eda.png)

For the colors, I chose a set

[2015-10-20 20:48] Concept211 commented on #33
Yeah I would use a sample of these values:
#13537F
#09769F
#038EB7

Here's the Google Play banner to spec: http://jmp.sh/6APheDB

Yeah, I'd appreciate the mention :+1:  I'm in the process of redesigning my website but you can link it www.concept211.com

Thanks again!  Looks great so far.

[2015-10-20 21:09] MGaetan89 commented on #3
TODO: restore pull-to-refresh

[2015-10-24 13:27] TimDowker commented on #9
Not sure if this is related but when I enable ssl I have to enable the self signed certificate option for it to work even though the certificate is valid and not self signed.

[2015-10-27 06:24] marco219 opened #34 "Hard disk control"
I noticed that when as soon as i open the app my hard drive is starting(because after some time of inacivity it goes idle). This is not happening when i use the website of sickrage. My question is does your app trigg some process?

[2015-10-27 14:01] MGaetan89 commented on #34
ShowsRage does not start any process. If your hard disk in starting when opening the application, I guess it is something done in SickRage, in the management of the API.

[2015-10-27 16:09] marco219 commented on #34
Ok i understand your point but every time i start the app my hard disk start spinning back and this is not happening with the webapp

[2015-10-27 18:10] MGaetan89 commented on #34
Did you try with an other Android application to see if the same thing happens?
I don't have access to your hard drive from the application, so I can not do anything about that.
You need to see that with SickRage's developers.

[2015-10-27 20:13] MGaetan89 commented on #33
I've been playing with the new colors and logo for the past week, and the result is really nice.
I used #09769F and #13537F for the colors.

Here are a couple of screenshots:

![Shows list](https://cloud.githubusercontent.com/assets/1009664/10771056/fbadea78-7cee-11e5-8c7d-aa5b2d78d987.png)
![Application drawer](https://cloud.githubusercontent.com/assets/1009664/10771057/fbb1da3e-7cee-11e5-92dd-b9

[2015-10-27 20:34] marco219 commented on #34
Ok thanks for you help. I will be in touch as soon as i do it

[2015-10-27 20:36] Concept211 commented on #33
I love it...great job!  Can't wait to update ;)  No offense to the original product, but I feel these colors are easier on the eyes. I just feel the whole "Material" color scheme is a bit too harsh.  I love Google's push for simple/clean designs, but the colors are a little much ;)

[2015-10-27 20:48] MGaetan89 commented on #33
I just pushed the changes for the new logo and colors (https://github.com/MGaetan89/ShowsRage/commit/13414a793dbf8375f54e7cec01b0f160dde0a5b1). If you want to change something else, let me know and I will see what I can do.
I added a link to your website in the application and I will credit you in the release note of the next version (next week at the latest).
Thank you a lot for this contribution

[2015-10-28 01:51] Concept211 commented on #33
I'm really happy to be a part of it! So is there a build/.apk anywhere to update manually without having to wait for Google Play to update?

[2015-10-28 05:56] marco219 commented on #34
I tried the app Droidbeard this morning and my disk was idle and as soon as i use showrage the disk started.  But i dont know what is happening because there is nothing in the log that could explain it

[2015-10-28 10:26] MGaetan89 commented on #33
Not for the moment, no. I still have one thing I want to fix before the release.
Hopefully I will managed to do it today, so it will be available later this evening.
It will be available in the beta channel first. So you can subscribe to the beta version if haven't yet.

[2015-10-28 19:31] MGaetan89 commented on #34
Did your hard disk start when you used Droidbeard? Or only with ShowsRage?

[2015-10-28 19:35] marco219 commented on #34
Only on showsrage. Maybe showrage trigg some index of the hard disk? Or
maybe it's the process that search for update?

On Wed, Oct 28, 2015, 20:31 Gaëtan Muller notifications@github.com wrote:

[2015-10-28 19:38] MGaetan89 commented on #34
As I said, I don't have direct access to your hard drives from the app.
The only I can think of that may be related, is the request I make to get the list of root directories.
Maybe SickRage check if the root directories are valid before sending back the result, and that may cause the hard drive to start. But I am not sure. You have to check with SickRage developers.

[2015-10-28 19:44] marco219 commented on #34
Ok but what i have to ask them?

On Wed, Oct 28, 2015, 20:38 Gaëtan Muller notifications@github.com wrote:

[2015-10-28 21:25] MGaetan89 commented on #33
Sadly, the release is still not for today.
I will have more time next week to finish and publish it.

[2015-10-29 20:23] MGaetan89 commented on #9
Android checks the certificate itself, so I need to investigate to see if I can do something about this.
Except from the fact that the behavior is not straightforward, the application is working properly?

[2015-10-30 10:53] MGaetan89 commented on #34
It depends what you want to know.
Maybe what can cause your hard disk to start.

[2015-10-30 13:10] duramato commented on #18
Yeah this needs to happen ,as someone with ~200 shows and a kinda poor server it takes a bit to load all especially if I'm not in my local network...

[2015-10-30 13:14] duramato opened #35 "Logs autoupdate"
Have something to autoupdatr the log page x number of sec
Also an option to filter certain log lines from showsrage page,like the api acess granted ,which is useful when trying to debug issues with SR self (having a remove log console ;) )

[2015-11-01 13:46] #3 closed, assigned to MGaetan89

[2015-11-01 13:47] MGaetan89 commented on #33
I will release the next version in a few minutes.
It will be available to the tester soon.

[2015-11-01 13:47] #33 closed, assigned to MGaetan89

[2015-11-01 15:04] #16 closed, assigned to MGaetan89

[2015-11-01 15:07] MGaetan89 commented on #16
I just implemented this.
It will be available in version 1.3 (version 1.2 is being deployed to test users and will be available in a couple of days).

[2015-11-01 16:53] #30 closed, assigned to MGaetan89

[2015-11-01 16:53] MGaetan89 commented on #30
I just added this.
It will be available in the version 1.3 of the application.

[2015-11-02 13:07] Concept211 commented on #33
Came out great! Thanks again!

[2015-11-02 18:53] MGaetan89 commented on #33
You did most of the work here ;)

[2015-11-02 19:56] #27 closed, assigned to MGaetan89

[2015-11-08 12:21] MGaetan89 opened #36 "Add fast-scroll to shows list"

[2015-11-08 21:34] #29 closed, assigned to MGaetan89

[2015-11-08 21:35] MGaetan89 commented on #29
This will be available in the next version (1.3).
You will have the choice between the current layout or a list of banners.

[2015-11-10 19:10] ConfusedTA opened #37 "Backup settings to Google Drive or Dropbox"
Hi,

I've just reinstalled the OS on my phone again, and setting up my apps. It would be really useful if we could back up our app settings to Google Drive or Dropbox, and subsequently import them again.

Having to dig out my api key again is a hassle! ;)

[2015-11-10 19:37] MGaetan89 commented on #37
I thought about that already, but didn't spend too much time looking for possible solutions.

You don't need to enter your API key manually. You can enter your username/password in the settings and press "Get API Key" to get it automatically ;)

[2015-11-10 19:40] ConfusedTA commented on #37
Ah, I missed that bit to enter username and password, that's a but easier!

[2015-11-11 09:38] marco219 opened #38 "Several connections"
It would be great to have several sickrage connections within the same app

[2015-11-11 09:38] marco219 opened #39 "Several connections"
It would be great to have several sickrage connections within the same app

[2015-11-11 09:38] marco219 opened #40 "Several connections"
It would be great to have several sickrage connections within the same app

[2015-11-11 09:38] #38 closed, assigned to nobody

[2015-11-11 09:39] #39 closed, assigned to nobody

[2015-11-11 10:13] MGaetan89 commented on #40
This request already exists in https://github.com/MGaetan89/ShowsRage/issues/12.

[2015-11-11 10:13] #40 closed, assigned to nobody

[2015-11-12 06:47] marco219 opened #41 "Add server status"
It would be great to have a page with the server status info(postprocess,dailysearch,backlog...).
Hope this is possible

[2015-11-12 15:40] MGaetan89 commented on #41
It is currently not possible to do that, but it is a good idea.
I will see if it is possible to update SickRage to provide this feature.

[2015-11-13 06:49] marco219 opened #42 "Add paused icon in the shows list"
Hello,
When you are in the show list you have no clue if the shows are paused or not. It would be great to have an icon.
I was wondering do you use the beta test program? I mean do you release some beta version before they go on play store

[2015-11-13 07:17] MGaetan89 commented on #42
I already implemented your request in the next version (1.3).
I use the beta program. The information are available in the readme on the homepage of the project.

[2015-11-13 07:17] #42 closed, assigned to nobody

[2015-11-14 14:43] #34 closed, assigned to nobody

[2015-11-14 21:30] MGaetan89 commented on #2
Multi-filter selection is not visually supported (but the behavior is correct).

[2015-11-15 09:44] MGaetan89 commented on #32
I had a look at what information I have access from SickRage API.
I can get the default episode status and show quality (both preferred and allowed).
But the quality picker needs to be improved to support custom quality configuration.
So until this is implemented, I won't work on this. Hope I won't delay it too much.

@benyjr

[2015-11-15 11:11] #21 closed, assigned to MGaetan89

[2015-11-15 11:12] MGaetan89 commented on #21
I just implemented this. It will be available in the next version (1.3).

[2015-11-28 15:08] AugustoWYZ opened #46 "Offline mánager of sickrage"
The ability of add shows or change status of caps/shows when you're not close to home network. When the server becomes un rage changes should be passed on

[2015-11-29 12:27] MGaetan89 commented on #46
I did not understand what you want. Can you try to explain it again?

[2015-11-29 16:16] AugustoWYZ commented on #46
Sure, let's say I am at work and somebody tell me about this awsome show. I want to download but by the time I reach home I forgot what show is. If while they are telling me about the show I can add it to my showsrage and when my server is available then the showsrage adds it to sickrage automatically

[2015-11-29 23:06] MGaetan89 commented on #46
You can already add new shows from the app.
If your SickRage installation is accessible from outside of your home network, your can already do that.

[2015-11-30 15:06] AugustoWYZ commented on #46
That's precisely the idea, the sickrage is not accessible, then we can use the app whenever we are and when the sickrage server becomes accessible for the app then the app makes the "offline" changes to the server

[2015-11-30 18:03] #46 closed, assigned to nobody

[2015-11-30 18:03] MGaetan89 commented on #46
You need to have access to your SickRage installation to perform the search. So it is not possible to include this.

[2015-12-04 14:33] se-bastiaan opened #47 "Use Parcelable instead of Serializable"
I noticed that all the models implement the Serializable interface. Since this is an Android application I would like to suggest switching to using the Parcelable interface, it's much faster and more efficient.

http://www.developerphil.com/parcelable-vs-serializable/
http://stackoverflow.com/questions/3611843/is-using-serializable-in-android-bad/3612364#3612364

[2015-12-04 14:54] se-bastiaan opened #48 "Consistent refresh UI pattern"
Currently the ShowsActivity uses a refresh button in the toolbar while the LogsActivity and HistoryActivity use the pull-to-refresh pattern. I think it would be good to make this more consistent by using one of these ways for the list refresh.

In the end consistency will make the app easier to use. Users will only need to learn the action once.

[2015-12-04 14:59] se-bastiaan opened #49 "Incorrect selection state in navigation drawer"
Steps to reproduce:
1. Open the application
2. Make sure the 'shows' item in the navigation drawer is selected
3. Select one of the following items in the navigation drawer:
     - Statistics
     - Settings
     - Post Processing
     - Check for update
     - Restart
4. Close the dialog or activity shown by the previous chosen action.
5. Now that you're back in the previous activity the navigati

[2015-12-04 15:08] se-bastiaan opened #50 "Is there any particular reason for using activities only?"
I noticed that the main actions in the navigation drawer are all different activities that are being linked to. So every item opens a new activity when it's selected and finishes the previous one.

The animation that is presented during this action really shows that you're going to a totally different screen, but the navigation drawer is still present in the view that we're descending to. It's on

[2015-12-04 15:15] se-bastiaan opened #51 "Why include the navigation drawer in child activities?"
The child activities in the application all contain the same navigation drawer that is given to the user in the main parent scene. According to the [material design guidelines](https://www.google.com/design/spec/patterns/navigation.html#navigation-patterns) the navigation drawer is only appropriate for parents with siblings and lateral navigation.

Opening a child activity (a specific show for exa

[2015-12-04 15:25] MGaetan89 commented on #47
I have planned to do that (it's hidden somewhere on a todo list :p), but I was too lazy to do it until now.
I will try to make the switch in the next version or the following one.

[2015-12-04 15:30] MGaetan89 commented on #50
There is no special reason for that.
At some point I intended to use only `Activity` or `Fragment`, but the application was getting more and more features and I never took the time to do that change. I am planning to do a performance/architecture oriented release that will change that.

[2015-12-05 11:07] Molleke opened #52 "Can't play shows in external player"
Everytime I want to use this option and I select my external player (tried Mx player Pro, ES Media Player and normal Samsung VideoPlayer) I get a message "Can't play this link". What can I do to make this work on my Samsung Galaxy Note 4?

[2015-12-05 13:25] MGaetan89 commented on #52
I tried with VLC and MX Player and it is working fine for me.
Are you trying to watch a video that is not in the default root directory?

[2015-12-05 13:45] Molleke commented on #52
Root directory of my phone? I have my SickRage server running on my PC and not my phone. Also the tv shows are downloaded to my PC and not my phone. Through your android app I am connected to the Sickrage server on my PC and I can see all shows and then hit the play button for an episode in your app.

[2015-12-05 15:55] se-bastiaan commented on #52
Root directory inside sickrage.

[2015-12-05 15:58] se-bastiaan commented on #50
Great. I noticed that you have the fragments to do this, they're just being used in different activities instead of one where they would replace each other. Thus the basis is in place.

[2015-12-05 15:59] se-bastiaan commented on #47
:)

[2015-12-05 18:19] Molleke commented on #52
What is the default root directory?

[2015-12-05 20:15] MGaetan89 commented on #52
The root directories is a setting in SickRage that allows you to store your shows in different directories. If you don't know what it is, then this is probably not the cause of your issue.
Is this feature broken for every shows or are you able to stream some of them?

[2015-12-05 20:36] Molleke commented on #52
I have set the root directory in SickRage (see below). Didn't know that it was called that way.
![knipsel](https://cloud.githubusercontent.com/assets/12209079/11610035/7cbf36d2-9b97-11e5-8e61-94eaf987a675.PNG)

In the root directory are my tv shows with the downloaded episodes (see below for a few shows):
![knipsel](https://cloud.githubusercontent.com/assets/12209079/11610057/f93ce628-9b97-11e5-84

[2015-12-05 22:07] #47 closed, assigned to MGaetan89

[2015-12-05 22:09] MGaetan89 commented on #47
I switch to `Parcelable` in 7ec8584: I removed all `implements Serializable` and implemented `Parcelable` where necessary.

[2015-12-05 22:12] MGaetan89 commented on #52
Thanks for the information.
Maybe the issue comes from the fact that you have a space in your root directory name. I will investigate more on this and give you more information as soon as possible.

[2015-12-05 22:18] MGaetan89 commented on #51
The Navigation Drawer is always available so you can quickly and easily navigate between the sections of the application.
If you look at the Play Store or Gmail, for example, you can always access the Navigation Drawer, even if you are in an application detail or reading an email.
I agree however that in those applications, the Navigation Drawer is not available in the settings. I am not sure if t

[2015-12-06 09:09] MGaetan89 commented on #50
I want to remove the listeners implemented in the `Activity` with `Intent`s first. Then I can switch to single-`Activity` architecture.

[2015-12-06 11:42] se-bastiaan commented on #51
I actually didn't know that that was possible in the Play Store & Gmail. There is no visual clue that it would even be possible. But that Google does it doesn't mean that it is the way to go, at least that's what I've learned.

If you switch to fragments only then the problem with the settings will be resolved I guess.

[2015-12-06 11:43] #51 closed, assigned to nobody

[2015-12-07 21:51] #20 closed, assigned to MGaetan89

[2015-12-08 20:23] MGaetan89 commented on #18
I am woking on a solution for this in the next release.
But just out of curiosity:
- Can you tell me how many shows you have? You can see that at the bottom of each page in SickRage
- How long SickRage takes to returns that list? You can use the API builder and run the `shows` command to find that out (the API builder can be accessed on `/apibuilder` instead of `/home` on your SickRage web interfa

[2015-12-08 20:32] duramato commented on #18
I have 220 shows , it takes 1192ms if im on my local network and 3461ms if im on another one

[2015-12-08 20:38] didyouexpectthat commented on #18
I have 1315 shows.
Remote: Response: 5079ms
Locally: Response: 5416ms

[edit] I updated them both to be more on-par. Something must have started when I went to grab the local option.

[2015-12-13 10:30] MGaetan89 commented on #18
Thanks for the feedback.
This will only let you access your shows faster by storing the data on your device. But it does not mean that the refresh will be faster.

[2015-12-14 21:31] fernandog opened #53 "Hide API logs when viewing debug logs"
the app only show api logs. Nothing else.
I would hide them so we can see other threads debug logs

[2015-12-14 21:35] MGaetan89 commented on #53
How should I filter that?
Check if the log starts with `TORNADO :: API ::`?

[2015-12-14 21:39] fernandog commented on #53
I think its a good idea. Each refresh shows a lot of then. What do you think?

[2015-12-14 21:40] fernandog commented on #53
I would also increase number of lines to show.

[2015-12-15 06:44] MGaetan89 commented on #53
I am already display everything SickRage returns, and it is not possible to ask for more.
What if people want to see the logs for the API (like in https://github.com/MGaetan89/ShowsRage/issues/35)?
I think it will be better to just add a search field so user can filter the logs.

[2015-12-15 10:40] duramato commented on #53
@MGaetan89 @fernandog ideia its preety cool i found myself wanting to see sr logs like pp and the log where filled with the api ones

[2015-12-15 10:44] fernandog commented on #53
Why not create a special filter for API?
Info. Debug. Warning. Api?

[2015-12-15 10:46] fernandog commented on #53
Lets say you ask 20 lines When you do, SR adds 10 more log lines (api). So debug without api would be 10 lines only. If you have too many shows you will only see API logs

[2015-12-15 22:03] MGaetan89 commented on #53
I agree that API could be in a separate category. But this has to be done on SickRage side. There is already a category for database logs if I am not mistaken. It might need to be discussed, as other applications won't receive API logs anymore if we change that.
We could also update the API to allow request more items in the logs.

[2015-12-15 22:38] fernandog commented on #53
Why not filter in ShowsRage?

[2015-12-15 23:01] MGaetan89 commented on #53
Because if all the logs I receive in ShowsRage in debug are about API, removing those items won't solve your issue. I can't request more logs than what I currently receive.

[2015-12-19 22:36] MGaetan89 opened #54 "Switch to Kotlin"

[2016-01-01 17:12] FoxBJK opened #55 "Able to get API key, but connection test fails, no errors logged"
I'm trying to set up this app for the first time, but it's not getting past the "test" portion. The app has no problem connecting to my server to get the API key by itself, but when hitting the "test" button I get a message that says "Connection to <url goes here> failed". The address is right, the port number is right, the API key is right. I don't understand why there's an error.

Nothing is log

[2016-01-01 20:58] But4ler commented on #55
Exactly the same problem on the same phone (first time too)
Phone Nexus 5
Android 6.0.1
App: v1.3

[2016-01-02 08:13] MGaetan89 commented on #55
It seems there is an issue in the connection process, but I didn't find it yet.
When the test fails, the URL is displayed in the error message. Does this URL look correct to you? What happens if you enter it in a web browser?

[2016-01-02 14:05] But4ler commented on #55
In sickrage, if I active authentication:
- In the application, I entered, the IP, port, user password
  - The recovery of API key does not work
    App message: connecting to http://myip:port/apikey  impossible
    The log message from the server:
    2016-01-01 10:05:06 p.m. TORNADO WARNING :: :: User Attempted has failed login to the web interface from IP SiCKRAGE: myip

If I disable authenticat

[2016-01-02 17:52] FoxBJK commented on #55
On both desktop and mobile, the full API url that the app shows me works just fine. I've proof-read it as much as I can, and it appears to be correct. I've cycled the API key a couple of times to be sure, and at one point used the IP address instead of the hostname to pull up my SickRage install.

If there's some way I can produce logs for this, I'll be happy to.

[2016-01-03 11:20] MGaetan89 commented on #55
Thanks for the information. I will look into this issue and let you know when it is fixed or if I need more information.

[2016-01-03 22:17] FoxBJK commented on #55
I figured out the problem; the app doesn't pay attention to custom ports. I was running SickRage on 8083 before, but I went ahead and switched back to 8081, and now the app works just fine.

Not going to close this, because I'd like to be able to run SR over a custom port, but for now I'll use the default.

Thanks!

[2016-01-04 05:55] MGaetan89 commented on #55
That's weird, because I am using 8083 and it is working fine for me. I'll do more testing to check this.

@But4ler are you using a custom port? If so, are you able to change to the default port to see if it fixes the issue for you too?

[2016-01-07 00:46] tinywiz commented on #55
@MGaetan89 I have the same problem on Galaxy S6 5.1.1

Using port 8083 gives connection fail, switching to port 8081 solves it for me.

[2016-01-07 06:37] MGaetan89 commented on #55
In the error message, does it display the correct port (8083)? That would mean that ShowsRage is trying to use the correct port.
Maybe your router is blocking this port?

[2016-01-07 08:39] marco219 opened #56 "Failed doing web ui callback"
Since last SickRage update I can't add show in the ShowsRage, banner are not showing, the logs on the app are not available (I get N/A on each line). SickRage keep crashing every time and I got error each time I use the app.
Here are the logs from the web site

[code]

[2016-01-07 10:37] tinywiz commented on #55
@MGaetan89

Hi again.

After som more port changing (ex. port 8000 also working) I tried to go back to port 8083 when SickRage (on NAS) stopped responding at all. I restarted the Synology NAS (on which I have SickRage) and bam, 8083 works. Any other port also works, but if I change the port to often, say 3 times, in sickrage and try to restart it will die (ex stop responding even if it says it is

[2016-01-07 13:36] FoxBJK commented on #55
Well, if it helps, I'm also using a Synology NAS. Still using port 8081, and everything's working fine

[2016-01-07 18:42] MGaetan89 commented on #56
Which fork of SickRage are you using? The old one or the new one?

[2016-01-07 18:46] marco219 commented on #56
I dont know. I'm using the master branch.
This one :
BRANCH: (master) / COMMIT: (9226ba5efba06fb9defc5272f03dae5d6d1c4145)

On Thu, Jan 7, 2016, 19:42 Gaëtan Muller notifications@github.com wrote:

[2016-01-07 18:51] MGaetan89 commented on #56
You can find this information by going to the `/config/` page of your SickRage, at the bottom of the page (a link to "Website" or "Source").
From the line you posted, I guess you are using the original SickRage. I haven't used it for a few weeks now, so I will have to check what they changed to see why you have this issue.

From the content of the logs you posted, I guess they changed something in

[2016-01-07 19:13] marco219 commented on #56
Could you give me the new sickrage github link. Currently i'm using this one
https://github.com/SiCKRAGETV/SiCKRAGE/
But they've not pushed a commit in a whilr

On Thu, Jan 7, 2016, 19:51 Gaëtan Muller notifications@github.com wrote:

[2016-01-08 10:47] marco219 commented on #56
Should i use this git repo of sickrage ?
https://github.com/SickRage/SickRage

[2016-01-09 10:39] MGaetan89 commented on #56
Yes, this is the new repository. They explain here how to switch the repository: https://github.com/SickRage/sickrage-issues/issues/3
Make sure you backup your SickRage installation first, in case something goes wrong!

I noticed that there were a lot of changes on the API side in https://github.com/SiCKRAGETV/SiCKRAGE/ in the last few weeks, so it is possible that they change/broke something. If

[2016-01-11 20:49] #28 closed, assigned to MGaetan89

[2016-01-11 20:50] MGaetan89 commented on #28
I implemented your feature request in https://github.com/MGaetan89/ShowsRage/commit/37afb8dbbcdee2b714f715b496829abaf12b9333.
It will be available in the next version of _ShowsRage_ (1.4).

As said in my previous comment, the directories you can select are the one you defined in SickRage > Config > General > Misc > Show root directories.

[2016-01-12 18:59] #22 closed, assigned to MGaetan89

[2016-01-12 21:04] MGaetan89 commented on #49
I'm working on #50 at the moment, and this should be fixed at the same time.

[2016-01-17 16:21] MGaetan89 commented on #49
This is now fixed in the latest development version. It will be available in the next release.
Thanks for reporting it.

[2016-01-17 16:21] #49 closed, assigned to MGaetan89

[2016-01-17 16:22] MGaetan89 commented on #50
This will be available in the next version.
There might be a couple of changes left to do, so I keep the issue open until the release.

[2016-01-17 16:23] MGaetan89 commented on #56
Did you manage to fix this or switch repo?

[2016-01-18 09:54] marco219 commented on #56
No i didn't try to fix it but i'm gonna switch to the new git. Actually i'm
trying sonarr which is really great

On Sun, Jan 17, 2016, 17:23 Gaëtan Muller notifications@github.com wrote:

[2016-01-18 20:13] MGaetan89 commented on #56
I had a look at sonarr once, but never tried it. I agree that it looks nice.
I noticed that a new version was just released for your fork of SickRage. Maybe it fixes your issue.

[2016-01-19 07:23] ghost commented on #28
Thanks

[2016-01-19 07:36] MGaetan89 commented on #28
If you use the beta version of _ShowsRage_, it is available in the version I released yesterday.
Otherwise, it will be available in a few weeks.

[2016-01-19 20:26] MGaetan89 opened #57 "Update to OkHttp 3.4.1 and Retrofit 2.1.0"
- [ ] [OkHttp 3.4.1](https://github.com/square/okhttp)
- [ ] [Retrofit 2.1.0](https://github.com/square/retrofit)

[2016-01-25 18:01] MGaetan89 commented on #50
One issue was introduced with this changed: when navigating back to a `Fragment` with a `ViewPager`, the previously selected tab is not saved, and the first one is selected.
For example, if you are on the detail of an episode and press back, you should arrive on the list of episodes of a specific season. Now it redirects to the detail of the show.
I will fix that in the next beta version.

[2016-02-03 06:24] bertenvdb opened #58 "Various colours for status labels"
In the season overview, the colour of the status labels is always green.
I would prefer having the same colours as in SickRage. Green for downloaded, orange for snatched and blue for skipped.

[2016-02-03 18:16] seanmccabe opened #59 "Sort by Title"
Be great to be able to sort the titles to ignore 'The'

ie "Flash (2014)"  instead of "The Flash (2014)"

[2016-02-03 22:08] MGaetan89 commented on #58
This should already be the case. Can you post a screenshot?
Maybe give some details about your configuration as well: application version, Android version and device.

[2016-02-03 22:09] MGaetan89 commented on #59
An improvement in the sort is planned in a future version. Maybe in version 1.5.

[2016-02-20 15:26] MGaetan89 commented on #58
Closing, as this seem to be working as intended.

[2016-02-20 15:28] MGaetan89 commented on #56
Do you still have issue to connect to SickRage of can I close this?

[2016-02-20 15:33] marco219 commented on #56
Yes you can as I'm not using sickrage anymore I don't know if the problem
exist

On Sat, Feb 20, 2016, 16:28 Gaëtan Muller notifications@github.com wrote:

[2016-02-20 15:45] #56 closed, assigned to nobody

[2016-02-20 17:15] bertenvdb commented on #58
Apologies @MGaetan89 , completely forgot about this.

Strange, after closing the app and reopening, some labels sometimes have another color than before. E.g. scrot 3 and 4 show same season/eps but different colours.

Samsung Galaxy Fresh GT-S7390
Android 4.1.2
ShowsRage 1.3
SickRage 2016.02.16-1

![screenshot_2016-02-20-17-48-12](https://cloud.githubusercontent.com/assets/1568251/13197941/3630435

[2016-02-20 17:56] MGaetan89 commented on #58
Thanks for the details. I managed to reproduce this in an emulator using Android 4.1.2.
I will work to fix it in the next version.

[2016-02-27 11:19] MGaetan89 commented on #58
It seems to be fixed in the latest development version. At least I can no longer reproduce it.
I keep this issue open until the next release so you can confirm if it is fixed or not.

[2016-02-29 19:35] MGaetan89 opened #60 "Add an option to use a light theme"

[2016-02-29 19:42] MGaetan89 commented on #58
I found a device where I can reproduce this bug.
It happens in the latest stable version (1.3), but it is working fine in the latest development version (1.4).
So I'm closing this issue. If you still have this problem with the next release, let me know.

[2016-02-29 19:42] #58 closed, assigned to MGaetan89

[2016-03-03 17:43] froggy974 opened #61 "Language choice"
- **_ShowsRage_ version:**
  1.3
- **Android version:**
  5.1.1
- **Device:**
  Nexus 4
## Feature request

Language choice
### Description

Can you consider adding an option in order to change apps language to English instead of default android language ?

[2016-03-03 20:42] MGaetan89 commented on #61
ShowsRage is only available is French and English, and default to English if your phone is in an other language.
Why would you need this setting? Are some parts of the application wrongly translated? Or mixed languages?

[2016-03-03 22:43] froggy974 commented on #61
My phone is in French, but I prefer to have the app in English.
I use sickrage in English, and I am a bit confused with the terminology differences.
For example Snatched vs récupéré

[2016-03-04 17:51] MGaetan89 commented on #61
I see. I will consider this for a future release. But it is not the top priority for the moment.

[2016-03-04 18:20] froggy974 commented on #61
Merci ,
C'est déjà super sympa de mettre cette app à disposition .

[2016-03-04 20:07] MGaetan89 commented on #61
Je laisse cette issue ouverte jusqu'à ce que ce soit intégré ;)

[2016-03-05 10:32] MGaetan89 opened #62 "Switch tests to Kotlin"
Following #54, update the tests to Kotlin.

[2016-03-12 09:01] MGaetan89 opened #65 "Be able to send an update request to Kodi"

[2016-03-28 14:28] #60 closed, assigned to MGaetan89

[2016-03-29 17:57] #50 closed, assigned to MGaetan89

[2016-04-01 15:22] duramato opened #66 "Widget"
## Feature request

A  Widget for ShowsRage
### Description

Have a widget to be able to see the Schedule, with the shows airing today and soon.

[2016-04-02 13:07] MGaetan89 commented on #66
I was thinking about that a couple of weeks ago.
I might also add a widget to display the history.

[2016-04-02 13:28] #2 closed, assigned to MGaetan89

[2016-04-17 18:08] MGaetan89 commented on #18
A small follow up on the progress of this task.
I am trying to save locally as many information as possible. So the application will feel more responsive, and will be usable while offline or outside of your local network (if you did not enable external access).
For the moment, the following parts are saved:
- The "History" section
- The "Logs" section
- The detail about the episodes

I am now work

[2016-04-17 18:09] MGaetan89 opened #67 "Filter logs by section"
Add the ability to filter logs by section.

[2016-05-01 15:18] #54 closed, assigned to MGaetan89

[2016-05-01 15:22] MGaetan89 commented on #18
I mostly need to do some polishing and testing now, and then I will release the third beta of ShowsRage. Expect it in the next two weeks.
The final public release will quickly follow, if no issues are reported.

[2016-05-22 20:02] MGaetan89 commented on #18
I just released version 1.4-beta3 of _ShowsRage_, which include a local database to improve access to your shows.
Let me know what you think of it (you need to be part of the beta program to receive the update. If you're not, you can find the instructions to join in the readme file).

[2016-05-28 10:36] #18 closed, assigned to MGaetan89

[2016-05-28 21:18] MGaetan89 commented on #67
Migration:
- [x] `LogEntry#group` is now an `Index`

[2016-05-31 20:03] MGaetan89 opened #69 "Display subtitles information on episode detail"

[2016-06-05 09:29] whipcracker commented on #12
This is a fantastic app and the only feature I really need is this! Will be awesome when it's implemented :)

[2016-06-05 13:45] MGaetan89 commented on #53
In #67, I am implementing a filter for the logs. You will then be able to hide all API related calls.
But my previous comment about receiving only API related logs is still valid.

[2016-06-06 22:01] georgethemarmot opened #71 "Shows Window Flickering and menu navigation issue"
## Bug report

Replicated on ShowsRage 1.4 and 1.4.1
Tested after data purge
Android 6.0.1 Stock without root
Nexus 5
### Issue description
- Shows page flickering on opening
- Back button from Settings page sends the application into background.

https://www.dropbox.com/s/f8ffmh0ey62vn42/2016-06-06_23-12-05_showsrage.mp4

[2016-06-08 19:54] #62 closed, assigned to MGaetan89

[2016-06-11 08:17] #69 closed, assigned to MGaetan89

[2016-06-16 20:25] MGaetan89 opened #76 "Search for subtitles"
Following https://github.com/MGaetan89/ShowsRage/issues/69

Add a menu to be able to search for the subtitle of an episode.

[2016-06-17 06:03] MGaetan89 opened #77 "Improve alternative forks support"
Possible forks:
- SickRage
- PyMedusa
- SickGear
- SickBeard

[2016-06-17 21:04] #76 closed, assigned to MGaetan89

[2016-06-20 20:25] #61 closed, assigned to MGaetan89

[2016-06-20 20:26] MGaetan89 commented on #61
Je viens d'intégrer cette fonctionnalité.
Elle sera disponible dans la prochaine version de _ShowsRage_ (1.5).

[2016-06-22 05:30] #59 closed, assigned to MGaetan89

[2016-06-22 05:31] MGaetan89 commented on #59
I integrated this request in _ShowsRage_.
It will be available in the next version (1.5).

[2016-06-26 21:16] viperidae opened #83 "Add setting to turn off local caching"
Add setting to turn off local caching.
It would be beneficial to not see stale information.

[2016-06-28 06:43] MGaetan89 commented on #83
I don't think I will add this. The goal of the cache is to have fast and offline access to shows information.
Where/why is this an issue for you?

[2016-07-07 15:57] MGaetan89 commented on #83
Closing this for lack of information,
Don't hesitate to comment or reopen if needed.

[2016-07-07 15:57] #83 closed, assigned to nobody

[2016-07-17 18:21] #67 closed, assigned to MGaetan89

[2016-07-17 18:59] MGaetan89 commented on #53
#68 was just merged. It allows you to select which "section" of the logs you want to display. Those sections are based on the values received from SickRage.

![Filter logs](https://cloud.githubusercontent.com/assets/1009664/16902517/35ff920c-4c61-11e6-8827-198256fe4857.png)

[2016-07-17 18:59] #53 closed, assigned to MGaetan89

[2016-07-20 20:38] #36 closed, assigned to MGaetan89

[2016-07-22 18:02] MGaetan89 commented on #48
This was fixed in #86 and will be available in the next version of ShowsRage (1.5).

[2016-07-22 18:02] #48 closed, assigned to MGaetan89

[2016-08-03 05:13] DragonCannon opened #89 "Asks to overwrite when setting episode status"
Thank you for contributing to _ShowsRage_. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.
## Bug report
- **_ShowsRage_ version:** 1.4.1
- **Android version:** 5.1, 6.0
- **Device:** Samsung Nexus 10, LG G3
### Issue description

When setting the status of an episode to skipped, user is prompted if the want to re

[2016-08-03 05:32] MGaetan89 commented on #89
On my side, I am asked what to do for every status.
From where are you trying to set the episode status? The schedule, the list of episodes in a season or the detail of an episode?

[2016-08-03 05:34] DragonCannon commented on #89
the list of episodes in a season

[2016-08-18 00:09] TryTryAgain opened #95 "Unable to add show"
## Bug report
- **_ShowsRage_ version:** 1.4.1
- **Device / Android version:** Nexus 6P / 6.0.1 and Nexus 7 original / running latest Cyanogenmod
### Issue description

Upon adding a show, no matter the destination (local disk volume and/or NFS), I get the following toast error:
'RootDir = [{defaultDir:0},{location:/path/to/downloadDir},{valid:1}]' is not a valid location

"/path/to/downloadDir" i

[2016-08-19 01:46] demitrix opened #96 "Connection based server settings."
## Feature request

Configure server based on local wifi
### Description

Not sure if it is an issue for anyone else but I am unable to connect to SickRage when I am on a local network with the server due to the app pointing toward my external IP. If it's not a config issue in my end it would be helpful to have an option for setting a SSID to force ShowsRage to use a local ip instead of a public o

[2016-08-20 10:22] MGaetan89 commented on #95
This issue was reported a couple of time already, but I was not yet able to reproduce it.
I will do my best to find the cause and fix it in the next release.

[2016-08-20 10:24] MGaetan89 commented on #96
I am using my external IP too and it works just fine when I am connected to my local network.
I am planning on adding multi-host support in a future release (1.6 or 2.0 probably). This will allow you to have one configuration with your external IP and one with your locale IP.
Related issue: https://github.com/MGaetan89/ShowsRage/issues/12

[2016-08-20 13:36] MGaetan89 commented on #95
I found the cause of this issue. The fix will be integrated soon and available in the next version of ShowsRage.
Thanks for reporting it.

[2016-08-20 14:35] #95 closed, assigned to MGaetan89

[2016-08-20 16:37] TryTryAgain commented on #95
Fantastic, very much appreciated. Happy it was easily resolvable.

[2016-08-21 14:36] #71 closed, assigned to MGaetan89

[2016-08-21 14:38] MGaetan89 commented on #71
Those issues are now fixed and will be part of the next version of ShowsRage (it should be available in the next two weeks).

[2016-08-21 14:55] MGaetan89 commented on #52
Hi @Molleke.
I am looking into this issue, but I am not able to reproduce it.
Can you tell me if this is still broken for you in the latest version of ShowsRage (1.4.1)?

[2016-08-22 12:19] Molleke commented on #52
Hi Gaëtan,

It is fixed in the latest version so it is no issue anymore.

Thnx.

2016-08-21 16:55 GMT+02:00 Gaëtan Muller notifications@github.com:

[2016-08-22 15:11] MGaetan89 commented on #52
Glad it is working.
Thank you for the confirmation.

[2016-08-22 15:11] #52 closed, assigned to nobody

[2016-08-22 17:33] MGaetan89 commented on #66
Moving this to 1.6, so I can release an intermediate release with some other new features and bug fixes.

[2016-08-23 23:24] fernandog opened #101 "Log filter not working proper"
## Bug report
- **_ShowsRage_ version:** latest beta from 23/08
- **Android version:** 4.2.2
- **Device:** Galaxy S4
### Issue description

Choose thread: FINDSUBTITLES
Change log level: DEBUG
### Expected result

Sees debug levels + info levels to FINDSUBTITLES only
Seems changing filter is reseting level
also changing level is reseting filter

[2016-08-24 05:40] MGaetan89 commented on #101
I confirm that changing the log level reset the filter. I will fix it before the public release.
However, I am not sure about the first  point (changing filter is reseting level). I will check that.

[2016-08-25 18:26] MGaetan89 commented on #101
I found the cause of the issue. It will be fixed when I release the public version 1.5.

[2016-08-25 18:33] fernandog commented on #101
@MGaetan89 thanks!
we fixed - thanks to @ratoaq2 Medusa log (PR still open) too so we won't see those bunch of API logs

[2016-08-25 18:35] MGaetan89 commented on #101
I saw the PR yes, it's not a bad idea.
Will you still keep the "API Access granted" logs?

[2016-08-25 18:39] fernandog commented on #101
@MGaetan89 i dont think so. why do you need it?

I running ShowsRage with that branch and logs appear ok.

@ratoaq2 can confirm

[2016-08-26 17:46] MGaetan89 commented on #101
I don't need. Just thought it might be useful to know when someone is accessing SickRage with the API.

[2016-08-26 17:48] fernandog commented on #101
@MGaetan89 do you have an APK so i can test the fix before pushing to play store?

[2016-08-26 17:50] MGaetan89 commented on #101
Not yet. I can do an extra beta version first if you prefer.

[2016-08-26 17:52] fernandog commented on #101
Would be nice. Just to confirm its fixed.

[2016-08-26 18:02] MGaetan89 commented on #101
I'm waiting for Travis result in https://github.com/MGaetan89/ShowsRage/pull/100 and then I'll push a new beta version on the Play Store.

[2016-08-26 19:44] MGaetan89 commented on #101
I just pushed a new beta version. You should receive it in the next hour.

[2016-08-26 19:50] fernandog commented on #101
@MGaetan89 thanks! will let you know

[2016-08-26 20:06] fernandog commented on #101
Updated but still something is wrong:

From logs:
2016-08-26 16:37:43 INFO     FINDSUBTITLES :: [555b0cb] No subtitles to download
2016-08-26 16:37:43 INFO     FINDSUBTITLES :: [555b0cb] Checking for missed subtitles

ShowsRage:
3 days ago? Only INFO?

![screenshot_2016-08-26-17-03-16](https://cloud.githubusercontent.com/assets/2620870/18018788/4475765e-6baf-11e6-9a12-a2425ca34acc.png)

[2016-08-26 20:08] fernandog commented on #101
Another: see how log jumps from minutes to hours:

Is clearly mising a LOT of logs
![screenshot_2016-08-26-17-07-58](https://cloud.githubusercontent.com/assets/2620870/18018892/c1ef5c76-6baf-11e6-9008-1247dbe3d040.png)

[2016-08-28 08:25] MGaetan89 commented on #101
I don't have time to properly investigate this issue for the moment, so I disable the logs filter until the next version.
Can you test the attached APK to see if you are still missing some logs? (GitHub does not support attaching APK, so I just changed the extension to zip. Change it back to apk before installing it).

[ShowsRage-v1.5](https://github.com/MGaetan89/ShowsRage/files/441044/app-releas

[2016-08-28 11:06] fernandog commented on #101
It jumps from 1hour to 3 days

![screenshot_2016-08-28-08-04-36](https://cloud.githubusercontent.com/assets/2620870/18033289/34dd7d52-6cf6-11e6-95d6-6213446efe84.png)

[2016-08-28 11:35] MGaetan89 commented on #101
I guess it's because I store logs locally, and don't clean them if they are cleared in SickRage (manually or after an update).
Does SickRage API returns more logs or does it only return two entries for INFO log level?
I will make sure that I only store what SickRage returns to prevent this.

[2016-08-28 12:18] fernandog commented on #101
imo you shouldn't store logs, just show what SickRage/Medusa sends.

[2016-08-28 12:23] MGaetan89 commented on #101
I'm trying to stay feature-full when offline/disconnected from SickRage.
I updated the logs storage to better reflect what SickRage sends.

I am waiting for Travis to finish running the tests, and then I'll release the new version.

[2016-08-28 13:40] MGaetan89 commented on #101
I'm closing this for now, as it is not part of version 1.5.
Don't hesitate to open a new issue for 1.6 if the problem if still there.

[2016-08-28 13:40] #101 closed, assigned to MGaetan89

[2016-08-28 14:18] MGaetan89 opened #104 "Stopped shows don't display any episode information"

[2016-09-01 11:10] MGaetan89 commented on #66
The history widget was merged for the 1.6 release.
The schedule widget and quick show access widget will soon follow.

[2016-09-20 21:02] JesterEE opened #109 "Schedule Swipe Sensitivity"
Thank you for contributing to _ShowsRage_. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.
## Bug report
- **_ShowsRage_ version:** 1.5
- **Android version:** 6.0
- **Device:** Motorola X Pure
### Issue description

When swiping left/right in the schedule tab (Today, Soon, etc.), if the swipe has a non-straight le

[2016-09-24 12:10] MGaetan89 commented on #109
I will look into this issue to fix it in the next version.
Thanks for reporting it.

[2016-09-25 12:10] MGaetan89 commented on #66
The quick show access widget was merged in the 1.6 release.
Next and final one will be the schedule widget.

[2016-09-28 21:28] MGaetan89 commented on #89
I just noticed that I misunderstood your request.
Why do you want to remove the confirmation when choosing "Skipped"?

[2016-10-23 17:22] MGaetan89 opened #112 "Don't launch the TestActivity in SharedPreferencesExtension tests"

[2016-10-23 17:27] MGaetan89 opened #114 "Fix ExtraTranslation error"

[2016-10-23 20:59] #112 closed, assigned to MGaetan89

[2016-10-24 17:53] #114 closed, assigned to MGaetan89

[2016-10-24 18:45] MGaetan89 commented on #89
I'm closing this as I don't have any information on the request.
Don't hesitate to comment or create a new issue if needed.

[2016-10-24 18:45] #89 closed, assigned to nobody

[2016-10-27 21:28] MGaetan89 opened #118 "Update to Realm 2.2 & compact test Realm"

[2016-10-29 08:36] MGaetan89 opened #120 "Preferences Support Fix needs to be updated to 25.0.0.0"

[2016-10-30 17:52] #120 closed, assigned to MGaetan89

[2016-11-23 20:28] monk-blade opened #124 "Error on Sickrage API"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:** Git stable branch
* **Android version:** 6.1.1
* **Device:** Xiaomi Redmi 3S

### Issue description
Error log on Sickrage portal
   2016-11-23 15:21:02 API :: 'Core' object has no a

[2016-11-26 10:49] MGaetan89 commented on #124
This issue was already reported in #55, so I'm closing it to keep all discussion in one thread.
I was not able to reproduce this yet. So I don't know how to fix it in ShowsRage for the moment.

However, in the other issue, users seem to be able to work around the problem by changing the port SickRage is running on. Can you try that? If it does not work, don't hesitate to comment in the other issue

[2016-11-26 10:49] #124 closed, assigned to nobody

[2016-11-26 11:59] monk-blade commented on #124
Okay. Thanks.

[2016-11-26 12:21] monk-blade commented on #124
Default port is 8081 = error
Port changed to 5700 = error
😑

[2016-11-26 12:27] monk-blade commented on #55
Same problem. Changed port vice versa. No solution. Browser gives following thing.
{"message": "", "data": "No such cmd: ''", "result": "error"}

[2016-11-26 12:29] monk-blade commented on #55
Sickrage log :
2016-11-26 07:28:07 API :: 'Core' object has no attribute 'STARTED'

[2016-11-26 12:42] monk-blade commented on #55
Oh... app is working but give failed connection. Changed to other port. In short, Test fails but app is working fine.

[2016-11-26 12:45] monk-blade commented on #55
Ohh..it gives new errors.
2016-11-26 07:40:12 API :: 'int' object has no attribute '__getitem__'
                2016-11-26 07:40:07 API :: 'int' object has no attribute '__getitem__

[2016-11-26 17:47] MGaetan89 commented on #55
That's interesting.
Can you tell me which fork of SickRage you are using? And also which version?

[2016-11-26 20:02] #118 closed, assigned to MGaetan89

[2016-11-26 20:11] MGaetan89 opened #125 "Use application shortcut for the show widget"

[2016-11-27 06:40] monk-blade commented on #55
https://github.com/SiCKRAGETV/SiCKRAGE
SR version from info page : e294e587103020f3697b0493a8656454c9998f9d

[2016-11-27 09:25] MGaetan89 commented on #55
Thanks. I'm using [SickRage/SickRage](https://github.com/SickRage/SickRage), so maybe there is a difference in the API of both forks.
I will install your fork to see what happens.
If it is easy to fix, I will do it in the next version (1.6). Otherwise it will be in the following one (2.0), where I plan on improving/providing support for multiple forks.

@FoxBJK, @But4ler, @tinywiz: can you tell me

[2016-11-27 09:34] monk-blade commented on #55
Okay. If I get free time, I will try to check your version.

[2016-11-27 10:24] monk-blade commented on #55
Tested your version. Its version related problem. Huh...At last, problem solved. Try to mention in README or Google play store info so that user wont end up in problem like I did.

[2016-11-27 10:28] MGaetan89 commented on #55
Thanks for checking this.
I'll do some tests on my side too, to see if I can fix it in ShowsRage.
Otherwise I'll add a note about this issue, as you suggested.

[2016-11-28 22:55] #125 closed, assigned to MGaetan89

[2016-12-03 18:48] fernandog commented on #101
@MGaetan89 looks like its working (i missed where you tagged me about the update so im writing here)

I noticed some old logs from 2 months ago. Refresh page doesn't make then go away (cached maybe?) only changing any filter
confirm?

personally i think caching log is not really needed.

[2016-12-10 13:53] MGaetan89 commented on #66
The schedule widget was merged in the 1.6 release.
It is the same as the history widget, except, of course, for its content.
I will publish a new beta soon with this new widget in it.

[Schedule widget](https://github.com/MGaetan89/ShowsRage/blob/2a0e041d0a3bbdc72feb50e667155cfc020b94c3/app/src/main/res/drawable-en-nodpi/widget_schedule_preview.png)

[2016-12-10 13:53] #66 closed, assigned to MGaetan89

[2016-12-10 15:24] MGaetan89 commented on #101
Sorry for the delay...
Maybe try to refresh each log level (debug/info/warn/error) to see if old logs go away. If they don't. There might still be an issue.

[2016-12-11 13:37] MGaetan89 commented on #35
There is a basic filter in the logs in the first beta of 1.6.
And I'm starting work on the auto-refresh now.

There will be a new setting for this. By default it will be disabled, but it will be possible to specify the refresh interval from a predefined list. I'm thinking about 30 seconds, 1 minute, 2 minutes and 5 minutes.
What do you think?

[2016-12-11 14:17] duramato commented on #35
Sounds good, any reason for a present values? You could do something like Android's selection of time (like on the alarm clock app) that would allow for everyone's liking.

[2016-12-11 18:25] MGaetan89 commented on #35
I just followed what I did for the the version check option. I'll keep the same behaviour for this version, as I want to finish this version soon.
I'll have a look in v2 for a better implementation.

[2016-12-12 22:07] MGaetan89 commented on #35
This feature is being implemented in #130.
It will be part of the 1.6 release.

[2016-12-13 20:49] MGaetan89 commented on #35
This was merged in 1.6. It will be available in the next beta of ShowsRage.

[2016-12-13 20:49] #35 closed, assigned to MGaetan89

[2016-12-13 20:53] MGaetan89 commented on #12
I'm moving this to the 2.0 version, so I can released version 1.6 sooner.

[2016-12-19 21:25] MGaetan89 commented on #37
Moving this to the 2.0 release, so I can release 1.6 sooner.

[2016-12-29 18:22] MGaetan89 commented on #109
In version 2.0, I will completely change the design of the application. So I will look into this issue when I start working on the 2.0 release.
In the 1.6 version, this issue will still be present.

[2017-01-24 23:20] sharkykh opened #132 "BUG: Logs section"
## Bug report

* ***ShowsRage* version:** 1.5
* **Android version:** 6.0.1
* **Device:** Samsung Galaxy S7

### Issue description
Connected using API, tested connection and show list - everything works fine.
Log section isn't working. SickRage logs show this error every time you refresh Logs on the app:
`[a3ce318] API :: coercing to Unicode: need string or buffer, NoneType found`

### Expected res

[2017-01-29 10:15] MGaetan89 opened #133 "Ability to edit a show"
Ability to edit shows preferences besides the quality

[2017-01-29 10:16] MGaetan89 opened #134 "Add an indicator to know if we are connected to SickRage or not"
It should be somewhere information where the sickrage server was detected and connected or not. I'm always unsure when changing things whether is it working or not.

[2017-02-20 01:48] miigotu commented on #132
Fixed

[2017-02-20 07:14] #132 closed, assigned to nobody

[2017-06-20 17:36] 6cUbi57z opened #138 "Lag when loading a large list of tv shows"
## Bug report

* ***ShowsRage* version:** v2017.03.31-1
* **Android version:** 6.0.1
* **Device:** Samsung Galaxy Tab A6

### Issue description

I am experiencing lag when first opening the app and sometimes when scrolling through the TV list.

I have some experience with Android development (although have not looked through the code) and I believe the issue is caused by the list item renderer. Wh

[2017-06-20 18:17] MGaetan89 commented on #138
Thanks for the detailed report.
I also noticed this issue when using the poster layout. Your solution will definitely help improve the start time.
From my investigation, the loading of the show stats also slows down the display of the list of shows.
I will improve this point in the next version of ShowsRage.

[2017-07-02 09:13] danpilch opened #139 "Support granularity when specifying which season to download"
## Feature request

### Description

Hi forgive me if this is already possible but I would like to easily download a full season of a show e.g. Season 3 without having to add each episode individually. Is this possible?

[2017-10-05 07:22] 03397 opened #140 "Option Season Folders not there"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:**
* **Android version:**
* **Device:**

### Issue description
When I add a tv show there is no option to group episodes by season folder. This results to have all the episodes in a si

[2018-01-28 16:34] andersonwallacerj opened #141 "Translation to Portuguese-BR"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:**
* **Android version:**
* **Device:**

## Feature request
Translation to Portuguese-BR

### Description
Friend, I'm  starting to program to android devices. Do you want me to help to

[2018-01-28 19:35] MGaetan89 commented on #141
That would be great. I'm hoping to release a new version at some point, which is long overdue.
So if you have the time to translate it, I will gladly integrate it in the next version.

You can find the current strings [here](https://github.com/MGaetan89/ShowsRage/blob/release/1.6/app/src/main/res/values/strings.xml) (be sure to check the `release/1.6` branch).
Don't hesitate to ask if you need hel

[2018-01-29 18:02] andersonwallacerj commented on #141
Check the file.

I couldn't compile and check if all the word fits on the space you designed.

I'm having gradle sync problems and didn't find the solution.

But if you have any problem, tell me and I'll look for another similar word tu use instead.

Regards,

________________________________
De: Gaëtan Muller <notifications@github.com>
Enviado: domingo, 28 de janeiro de 2018 17:35
Para: MGaetan89

[2018-01-29 19:03] MGaetan89 commented on #141
What error are you getting?

[2018-01-30 18:20] andersonwallacerj commented on #141
problems to build gradle
![image](https://user-images.githubusercontent.com/6978262/35583658-d276ee5e-05d9-11e8-9b7c-160c7fe9658c.png)

[2018-01-30 18:39] MGaetan89 commented on #141
I'm not getting the same issue, but I guess that the `master` branch is too old to be used in the latest version of Android Studio.
Can you try with the branch `release/1.6`?

[2018-05-17 19:11] MGaetan89 commented on #139
This is not currently possible. I will see if I can add it in a future version.

[2018-05-17 19:34] MGaetan89 commented on #138
I have implemented this.
It will be part of the next version (1.6).

[2018-05-17 19:34] #138 closed, assigned to nobody

[2018-05-17 19:43] MGaetan89 commented on #141
I'm about to release a new version of the application.
So the `master` branch will soon be updated for the latest traduction.
If you're still willing to do this, I will be able to include it in a future version.

[2018-05-17 19:58] andersonwallacerj commented on #141
Fell free to do it. I've already sent it to you. do you have it?

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>
Remetente
notificado por
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>

Em qui, 17 de mai de 2018 às 16:43, Gaëtan Muller <notifications@github.com>
escreveu:

--

[2018-05-17 19:59] MGaetan89 commented on #141
No I didn't receive anything. Where did you send it?

[2018-05-17 20:13] andersonwallacerj commented on #141
I think I committed there...
https://github.com/andersonwallacerj/ShowsRage/commit/c85c7b5fc4bfc751ea1d69006ee129b54fac6fe8

‌
[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>
Remetente
notificado por
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>

Em qui, 17 de mai de 2018 às 1

[2018-05-18 09:08] gauth-fr opened #146 "Problem with Schedule display"
## Bug report

* ***ShowsRage* version: 1.6
* **Android version: 6.0 (EMUI 4.1)
* **Device: Huawei P9lite (2016)

### Issue description
Since last update, showing schedule doesn't work. ShowRage closes.
History widget is working fine but Schedule widget won't display anything

### Steps to reproduce

1. Start ShowRage
2. Display menu, click Schedule
3. App closes

1. Add Schedule widget on main sc

[2018-05-18 09:40] MGaetan89 commented on #146
This is already fixed.
I will release a new version in a couple of days
I'm waiting before the release in case other issues are reported.

[2018-05-18 09:40] #146 closed, assigned to MGaetan89

[2018-05-18 09:45] MGaetan89 opened #147 "Fix access to logs filter"

[2018-05-18 09:46] #147 closed, assigned to MGaetan89

[2018-05-18 11:40] MGaetan89 commented on #141
Wow, thanks! I didn't see it. You should've send a pull request.
To make it easier, I enabled the Crowdin tool on this project, so people can easily translate the application. I added the translations you have already made.
Can you have a look to see if everything is correct, and add the missing translations?

You can find everything here: https://crowdin.com/project/showsrage
You can use your Git

[2018-05-18 12:14] andersonwallacerj commented on #141
Ok, I'll check it.

Em sex, 18 de mai de 2018 08:40, Gaëtan Muller <notifications@github.com>
escreveu:

--
Anderson Wallace Ribeiro
+55 21 998276623 <+55%2021%2099827-6623>
Skype: andersonwallacerj
LinkedIn <https://www.linkedin.com/in/andersonwallacerj/> | Facebook
<https://www.facebook.com/andersonwallacerj> | Twitter
<https://twitter.com/andersonwsr42>

[2018-05-23 10:12] binhex opened #149 "Cannot add new show (search returns no results)"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:** 1.6.1
* **Android version:** 7.0
* **Device:** Samsung Galaxy S7 Edge

### Issue description
When clicking on the + symbol i am presented with a search box, entering in the name of

[2018-05-23 21:27] MGaetan89 commented on #149
I'm also using Medusa, and I am able to reproduce the issue.
According to Medusa's API documentation, the request I use to perform the search seems to be correct. Maybe it is an issue in Medusa itself. I'll investigate more and check with the dev of Medusa.
I'll give you more info as soon as I know more.

[2018-05-26 09:16] MGaetan89 commented on #149
There is an issue in Medusa's API.
It is being fixed, and will probably be part of the next release of Medusa.

[2018-05-26 09:26] binhex commented on #149
Excellent, thanks for looking into it.

[2018-05-28 07:56] isignupovertor opened #150 "Update Fdroid Version"
* ***ShowsRage* version: 1.1**
* **Android version: 8.1**

### Issue description

Currently version on Fdroid is 1.1. But github version 1.6?

### Expected result

Fdroid has 1.6

### Description

[2018-05-28 15:23] MGaetan89 commented on #150
I'm not the one maintaining the Fdroid version.
I think it was the guys from Fdroid, so maybe you can check with them directly.

[2018-05-28 15:23] #150 closed, assigned to nobody

[2018-05-28 18:31] #57 closed, assigned to nobody

[2018-05-28 18:37] MGaetan89 commented on #104
Fixed in https://github.com/MGaetan89/ShowsRage/commit/fdf12ce05cbeb0c26961a1c9466a851467130dba.

[2018-05-28 18:37] #104 closed, assigned to nobody

[2018-05-28 18:47] MGaetan89 commented on #140
I will add this in the next version of the application.

[2018-05-28 18:48] MGaetan89 opened #151 "Episode detail is empty"

[2018-05-28 18:48] #151 closed, assigned to MGaetan89

[2018-06-10 18:13] MGaetan89 commented on #149
Medusa 0.2.5 was just released, with a fix for this issue.
Don't hesitate to reopen it if you still have issues.

[2018-06-10 20:21] binhex commented on #149
I've updated to the latest Medusa release and I'm still seeing nothing retuned m afraid, after a few seconds of waiting Android then returns with the message "ShowsRage has stopped".

[2018-06-10 20:23] MGaetan89 commented on #149
Indeed, I received the related crash report. I will fix it in the next version.
Sorry about that.

[2018-06-11 08:21] binhex commented on #149
hey no probs, thanks for looking into it, i appreciate it.

[2018-06-19 09:46] #140 closed, assigned to MGaetan89

[2018-06-19 09:47] MGaetan89 commented on #140
It will be part of version 1.7, which will be released soon.

[2018-06-19 09:48] MGaetan89 commented on #149
I fixed the issue. It will be part of version 1.7.
I will release it for beta users first for a few days, then to public.

If you want to test the new version during the beta phase, you can join the program [here](https://github.com/MGaetan89/ShowsRage#trying-the-application).

[2018-06-19 09:48] #149 closed, assigned to nobody

[2018-06-22 19:21] binhex commented on #149
Thanks for this, I have actually signed up to beta testing but as of yet haven't seen an update, as soon as it does install I will test the change and let you know.

[2018-06-24 11:55] MGaetan89 commented on #149
I just published the beta version. You should be able to install it soon.

[2018-06-25 07:49] binhex commented on #149
Thanks for your work, i can confirm i can now see results returned when adding in a show, and i can then select the show and i see it added to Medusa. i have noticed a couple more bugs that i will raise separately to this.

Thanks again.

[2018-06-25 08:01] binhex opened #154 "When adding a show you cannot select the 'root folder' from dropdown"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:** 1.7 beta
* **Android version:** 7.1
* **Device:** Samsung Galaxy S7 Edge

### Issue description
When adding a new show you see a list of options, one of these options is to select t

[2018-06-25 08:09] binhex opened #155 "ShowsRage crashes when viewing existing show"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:** 1.7 beta
* **Android version:** 7.1
* **Device:** Samsung Galaxy S7 Edge

### Issue description
This looks to be a new bug introduced with the latest (current) beta. If i select an

[2018-06-27 20:43] MGaetan89 commented on #155
Thanks for reporting this.
I am able to reproduce it. I will fix it and submit a new beta this week-end or next week.

[2018-06-27 21:04] MGaetan89 commented on #154
I can reproduce this one too.
I'll fix it and include it in the next beta too.
Thanks :)

[2018-06-27 21:40] #154 closed, assigned to MGaetan89

[2018-06-27 21:40] #155 closed, assigned to MGaetan89

[2018-07-05 18:29] MGaetan89 commented on #155
I just pushed a new beta, which fixes the two issues you reported.
Let me know if everything is working as expected.

[2018-07-05 20:52] binhex commented on #155
Thanks I was just about to post to tell you both issues are confirmed fixed, awesome work!

[2018-07-06 08:07] MGaetan89 commented on #155
Thanks for the confirmation.
If nothing else comes up, I will release it for everyone in a few days.

[2018-07-28 13:45] MGaetan89 opened #156 "Remove Realm"

[2018-07-28 13:46] MGaetan89 opened #157 "Integrate Room"
Depends on #156

[2018-07-28 13:57] MGaetan89 opened #158 "Update Retrofit"

[2018-12-23 17:00] rui-nar opened #159 "failed to connect to sickchill"
## Bug report

* ***ShowsRage* version: 1.7
* **Android version: 7.0
* **Device: Moto G4

### Issue description

After entering all the details of the server, manually entering api key (copy+paste) and verifying the api path I get a connection failed when trying to connect to Sickchill on my NAS.

What logs or extra details would you need to debug the problem?
By the way, I tried as well with my c

[2019-01-14 04:51] dukman83 opened #160 "ShowsRage connected but nothing displays"
Thank you for contributing to *ShowsRage*. Please fill in the form corresponding to your request ("Bug report" or "Feature request"). The other sections can safely be removed.

## Bug report

* ***ShowsRage* version:** 1.7
* **Android version:** 8.0.0
* **Device:** Galaxy S8+

### Issue description
ShowsRage connects fine with credentials and API key however nothing is displayed in the shows or an

[2019-10-02 08:05] keithzg commented on #77
This would certainly be appreciated! As it stands, many of the functions work well with SickGear, except that the Shows page is entirely empty---and that kindof kills a lot of the usefulness of the app, alas.

For the record the logcat output at the time goes as follows:

[code]

I'm going to give it a shot myself, but uhh my track record with Android is an unbroken series of losses ;)

[2020-05-21 20:30] raymondtrueman opened #161 "Abandoned?"
Has this project been abandoned?

[2021-11-12 12:00] #139 closed, assigned to nobody